/* CSS Document */

html, body {
  color: #333;
}

body, button, input, select, textarea {
  font: 12px/1.6 tahoma,arial,sans-serif;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.home-feeds {
  background: #ededef;
  padding: 40px 0;
}

.home-feeds .wrap {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

ul#J_List {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.home-feeds .feed-item {
  width: 270px;
  float: left;
  margin-right: 26px;
  margin-bottom: 26px;
}

.home-feeds .feed-image-wrap {
  position: relative;
  height: 280px;
  overflow: hidden;
}

.home-feeds .feed-detail {
  height: 62px;
  padding: 15px;
  background: #fff;
  color: #999;
  font-size: 14px;
}

.home-feeds .feed-image-wrap .price {
  position: absolute;
  height: 30px;
  bottom: 0;
  right: 0;
  border-radius: 5px 0 0 0;
  padding: 0 17px;
  background: rgba(0,0,0,.4);
  color: #fff;
  font-weight: 700;
  line-height: 30px;
}

.home-feeds .feed-title {
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
}

.mt20 {
  margin-top: 20px!important;
}

.fr {
  float: left;
  _display: inline;
}

.fl {
  float: right;
  _display: inline;
}

.clearfix {
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}